* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(224, 228, 230);
    color: black;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.top {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background:rgb(45.1, 33.7, 20.4);
    color: white;
    min-height: 100px;
    align-items: center;
}


.top img {
    height: 50px;
    clip-path: circle();
    margin: auto 0;
}

.container {
    display: flex;
    width: 80vw;
    margin: 1em auto 0 auto;
    justify-content: space-around;
    text-align: left;
    /* background-color: #fff; */
    box-shadow: 2px 2px 3px #ccc;
    flex-wrap: wrap;
    min-height: 150px;
}

.item-left, .item-right {
    min-height: 150px;
    box-sizing: border-box;
    padding: 1em 0.5em;
}

.item-left {
    width: 30%;
}

.item-right {
    width: 70%;
}

ul li {
    list-style: none;
}

.item-left {
    background-color: rgb(170, 121, 57);
}

.item-right {
    background-color: #fff;
}

.banner {
    width: 80vw;
    margin: 0.5em auto;
    background-color: rgb(170, 121, 57);
    padding: 0.5em;
    box-sizing: border-box;
}

.carousel {
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em;
    color: rgb(26, 25, 23);
}

#carousel-image {
    height: 40vh;
    width: 30vw;
    box-shadow: 2px 2px 3px #ccc;
    margin: auto auto;
}


@media (max-width: 650px) {
    #carousel-image {
        width: 70vw;
    }
}

@media (max-width: 380px) {
    .top {
        height: 150px;
        flex-direction: column;
        align-items: center;
    }
}